  <mat-card class="my-card"
   style="width: 400px; margin-left: auto; margin-right: auto; margin-top: 100px;height: 260px; ">
   <mat-card-header>
      <mat-card-title ><i class="fa fa-user" aria-hidden="true"></i>
         User Login</mat-card-title>
   </mat-card-header>
     <mat-card-content style="margin-top: 20px;">
        <form class="my-form">
           <mat-form-field class="full-width" style="margin-left: 30px; width: 220px;">
              <mat-label>Mobile Number</mat-label>
              <input  matInput  placeholder="Contact" name="contact">
           </mat-form-field>
           <mat-form-field class="full-width" style="margin-left: 30px;">
              <mat-label>Password</mat-label>
               <input  matInput  placeholder="Password" name="password">
           </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions style="padding-left: 100px;">
        <button mat-raised-button color="primary">LOGIN</button>
        <button mat-stroked-button color="primary"
        style="color: gray;"
        (click)="onPress()">Forget Password</button>
     </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="display"
  style="width: 500px; margin-left: auto; margin-right: auto; margin-top: 10px; height: 250px;">
     <app-pass></app-pass>
  </mat-card>
