<!-- <h1>Change Your Password</h1> -->
<mat-card-header>
    <mat-card-title ><i class="fa fa-lock" aria-hidden="true"></i>
       Reset Your Password</mat-card-title>
 </mat-card-header>
 <mat-card-content style="margin-top: 10px;">
    <form class="my-form">
       <mat-form-field class="full-width" style="margin-left: 10px; width: 220px;">
          <mat-label>Mobile Number</mat-label>
          <input  matInput  placeholder="Contact" name="contact">
       </mat-form-field>
       <mat-form-field  style="margin-left: 20px;">
          <mat-label>New Password</mat-label>
           <input  matInput  placeholder="New Password" name="new-password">
       </mat-form-field>
       <mat-card-actions>
        <button mat-raised-button color="primary"  type="button"
        style="margin-left: 300px;" (click)="onReset()">Reset Password</button>
     </mat-card-actions>
     <!-- <p *ngIf="buttonPressed" style="padding-bottom: 150px;">
        Your Password Was Reset
     </p> -->
    </form>
 </mat-card-content>
 
