<mat-divider></mat-divider>
<!-- <mat-card style="margin-left: 25px; margin-right: 30px;">
  <div class="row" style="padding-left: 60px; padding-right: 20px;">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let product of products">
        <div class="pull-left">
            <mat-card-header>
                <mat-card-title style="color:crimson;"><i class="fa fa-tag" aria-hidden="true"></i>
                     {{product.name}}</mat-card-title>
              </mat-card-header>
              <h4 style="margin-left: 2px; color:grey;">Info :{{product.description}}</h4>
              <p>Price : {{product.price}}</p>
        </div>
        <span class="pull-right">
          <img
            [src]="product.imagePath"
            alt="{{ product.name }}"
            class="img-responsive"
            style="max-height: 60px;width:80px;margin-left: 20%; margin-bottom: 5px;">
        </span>
        <mat-card-actions>
            <button mat-raised-button color="accent" style="margin-left: 10px;margin-right: 5px;"> 
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                 Add To Cart</button>
          </mat-card-actions>
      </a>
  </div>
</mat-card> -->

<mat-card style="margin-left: 80px; margin-right: 80px;">
  <div class="row" style="padding-left: 60px; padding-right: 20px;">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let product of products">
        <mat-card style="background:white; width: 190px; height: 320px;">
            <mat-card-header>
                <mat-card-title style="color:crimson; "><i class="fa fa-tag" aria-hidden="true"></i>
                     {{product.name}}</mat-card-title>
                     <mat-card-subtitle style="color: darkcyan;"> price : {{product.price}} </mat-card-subtitle>
                     <!-- <mat-card-subtitle style="color :dimgrey;"> info : {{product.description}} </mat-card-subtitle> -->
              </mat-card-header>
              <h5 style="margin-left: 2px; color:grey;">Info :{{product.description}}</h5>
        <span class="pull-right">
          <img
            [src]="product.imagePath"
            alt="{{ product.name }}"
            class="img-responsive"
            style="height: 90px;width:90px;margin-left: 20%; margin-bottom: 5px;margin-top: 10px;" >
        </span>
        <mat-card-actions>
            <button mat-raised-button color="accent" 
            style="margin-left: 25px;margin-right: 5px; margin-top: 20px;"> 
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                 Add To Cart</button>
          </mat-card-actions>
        </mat-card>
      </a>
  </div>
</mat-card> 
